body{
	font: 15px/1.5 Ariel, Helvetica;
	padding:5;
	margin:10;
	
}
  
.container{
	background-color:#f4f4f4;
	display: grid;
	grid-gap: 1em;
	
}

#circuit{
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}


#output{
	grid-row: 2 / 2;
	grid-column: 3 / 3;
}

body #input{
	/*float:right;*/
	grid-row: 1 / 1;
	grid-column: 3 / 3;
	border-style: groove;
	border-color: #0000ff;
	padding:20px; 
}

body #input #submit{
	border-style: groove;
	border-color: #f4f4f4;
}

body #output{
	border-style: groove;
	border-color: #0000ff;
	
}