body{
	font: 15px/1.5 Ariel, Helvetica;
	padding:5;
	margin:10;
	
}

.container{
	background-color:#f4f4f4;
}

body #input{
	float:right;
	border-style: groove;
	border-color: #0000ff;
	margin-right: 20px;
	margin-top: 50px;
	padding:20px; 
}

body #input #submit{
	border-style: groove;
	border-color: #f4f4f4;
	margin-top:10px;
}

body #output{
	float:right;
	border-style: groove;
	border-color: #0000ff;
	
}